*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body{
    background-color: rgb(103, 106, 105);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --r: 255;
    --g: 0;
    --b: 0;
}

.frame {
    height: 600px;
    width: 500px;
    background-color: rgb(71, 92, 92);
    padding: 10px;
    box-shadow: 0 0 255px rgba(var(--r), var(--g), var(--b), 10);
    transition: box-shadow 0.3s ease;
    border-radius: 25px;
}

.Heading{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    
}
#display
{
    height: 90px;
    width: 100%;
    border: 0px;
    outline: none;
    background-color: white;
    box-shadow: inset 2px 5px 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}
.button-group{
    display: flex;
    justify-content: space-around;
    
}
.button{
    width: 70px;
    height: 75px;;
    box-shadow: inset 2px 5px 5px;
    margin-bottom: 15px;
    font-size: 20px;
}
.button:active
{
    box-shadow: inset 1px 1px 2px;
}
.button:hover{
    background-color:  rgb(150, 150, 210);
}